@using Recuiter.CustomAuthentication
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    @*Add icon library*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body style="height:100vh">

	<nav class="navbar navbar-light bg-light" style="padding-right:97px; padding-left:97px;">
		<a class="navbar-brand mr-auto" href="@Url.Action("Index", "Home", null)"><img src="~/Content/images/company_logo.svg" style="width:100px; height:70px;"></a>
		<div class="d-flex ">
			<div class="row bar1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="@Url.Action("Login", "Account")"><button type="submit" class="btn-outline-secondary mx-1">Sign In</button></a></li>
					<li><span class=""></span></a></li>
					<li><a href="@Url.Action("Registration", "Account")"> <button type="submit" class="btn btn-II mx-1">Sign Up</button></a></li>
					<li><span class=""></span></a></li>
					<li><a href="#"><span class=""></span></a></li>

				</ul>

			</div>
		</div>
	</nav>

	<div>
		@RenderBody()
	</div>

	<footer class="footer d-flex justify-content-between mx-0">
		<div>
			<p class="footnote" style="color: #707070;  font-family: Roboto; font-size: 10px; margin-right: 10px;">Copyright © 2018. All rights reserved. <span style="color:#f16722;">Software Business Solutions Consulting.</span> </p>
		</div>

		<div class="d-flex justify-content-center">
			<i class="fab fa-facebook-f pr-4"></i>
			<i class="fab fa-google-plus-g pr-4"></i>
			<i class="fab fa-linkedin-in pr-4"></i>
			<i class="fab fa-twitter"></i>

		</div>

	</footer>
	
</body>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
</html>
