@model Recruiter.ViewModels.ApplicantResumeVM
@{
    ViewBag.Title = "ApplicantResumeProfile";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}

<h2>ApplicantResumeProfile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    foreach (var education in Model.Education)
    {
        <div class="row mb-4">
            <div class="col">
                @Html.LabelFor(x => education.Qualification)

                @Html.EditorFor(x => education.Qualification, new { htmlAttributes = new { @class = "form-control" }, @placeholder = "Enter First name" })
                @Html.ValidationMessageFor(x => education.Qualification, "", new { @class = "text-danger" })
            </div>
        </div>

    }
}